*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}

/*=============== images-search part start here  ==============*/
#images_main{
    width: 100%;
    height: 100vh;
}
#images_main h2{
   font-size: 36px;
   font-weight: 700;
   color: #333;
   text-transform: capitalize;
   text-align: center;
   padding-top: 100px;
   padding-bottom: 50px;
}
#images_main form{
  width: 90%;
  max-width: 600px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #ddd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#images_main form input{
 flex: 1;
 border: none;
 outline: none;
 height: 100%;
 background-color: transparent;
 color: #222;
 font-size: 16px;
 font-weight: 500;
 padding: 0 30px;
 
}
#images_main form input::placeholder{
    color: #222;
    font-size: 18px;
    text-transform: capitalize;
}
#images_main form button{
    border: none;
    outline: none;
    height: 100%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 0 40px;
    text-transform: capitalize;
    background-color: blue;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
#search_result{
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    margin: 50px auto 50px;
}
#search_result img{
   width: 100%;
   height: 250px;
   object-fit: cover;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}
 #show_btn{
    background-color: blue;
    border: none;
    outline: none;
    padding: 15px 25px;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    display: none;
    margin: 50px auto 50px;
}
/*=============== images-search part end here  ==============*/